* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
}

:root {
    --h1: 32px;
    --p: 18px;
    --label: 16px;
    --bg-body: #2B2730;
    --black: #19191a;
    --white: #fffffc;
    --grey: #a9dfd9;
    --pink: #E966A0;
    --L-yellow: #FFF7CA;
    --L-blue: #1CF0D6;
    --L-purble: #6554AF;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
}

.main-container {
    display: flex;
    width: 90%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background-color: var(--L-purble);
    border-radius: 24px;
    padding: 7px 0;

}

.principal-area {
    display: flex;
    width: 388px;
    flex-direction: column;
    align-items: flex-start;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28;
    margin-bottom: 30px;

}


.intro h1 {
    color: var(--pink);
    font-size: var(--h1);
    text-align: center;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.36px
}

.intro p {
    color: var(--white);
    font-size: var(--p);
    line-height: 160%;
    letter-spacing: 0.2px;
}

.login {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    align-self: stretch;
    width: 100%;
}

.label-login {
    color: var(--white);
    font-size: var(--label);
    line-height: 100%;
    letter-spacing: 0.16px;
}

.input-email,
.input-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    align-items: center;
}

.email,
.password {
    width: 96%;
    height: 48px;
    flex-shrink: 0;
    border-radius: 12px;
    padding: 5px; 
    border: 1px solid var(--L-blue);
    background: var(--L-yellow);
    line-height: 1.5;
    outline: none; 
}

.email::placeholder,
.password::placeholder {
    color: var(--black);
    font-size: var(--p);
    letter-spacing: 0.16px;
    text-align: center;
}

.password-forgot {
    color: var(--pink);
    text-align: center;
    font-size: var(--p);
    line-height: 100%;
    letter-spacing: 0.16px;

}

.password-forgot:hover {
    transition: .2s;
    color: var(--L-blue);

}

.button-form {
    width: 100%;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: var(--pink);
    border: 1px solid var(--pink);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button-form:hover {
    transition: .2s;
    background-color: var(--L-blue);
    border: 1px solid var(--L-blue);

}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.ou {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.ou-text {
    color: var(--pink);
    text-align: center;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.16px;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
}

.button-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 28px;
}

.social-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 28px;
}

.social-login {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.google,
.facebook {
    background-color: var(--grey);
    display: flex;
    padding: 12px 9px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    cursor: pointer;
}

.google:hover,
.facebook:hover {
    transition: .2s;
    background-color: var(--white);
}

.icon-google,
.icon-face {
    width: 32px;
}

.new-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    text-align: center;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.18px;
    padding-top: 24px;
}

.art {
    background-image: url("https://i.pinimg.com/564x/84/f5/7b/84f57b8f44e51fe64a2fc9f833fd0264.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    border-radius: 24px;
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}